.box{
    height: 300px;
    width: 500px;
    border: 2px solid red;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    gap: 10px;

}

.box div{
    height:100px;
    width: 100px;
    border: 1px solid red;

}
.item {
  

}

.itemlist {
    height: 50px;
    width: 50px;
    background-color: red;
  
}


.maintable {
    height: 700px;
    width: 1000px;
    border: 1px solid gray;
 
}
td {
    border: 1px solid gray;
}


tbody :hover {
    border: 1px solid black;
    background-color: gray;
}